# NetBeans specific #
CursosLibres/nbproject/private/
CursosLibres/build/
CursosLibres/nbbuild/
CursosLibres/dist/
CursosLibres/nbdist/
CursosLibres/nbactions.xml
CursosLibres/nb-configuration.xml
!CursosLibres/web/WEB-INF

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

