# NetBeans specific #
/proyecto1/WebApplication1/nbproject/private/
/proyecto1/WebApplication1/build/
/proyecto1/WebApplication1/nbbuild/
/proyecto1/WebApplication1/dist/
/proyecto1/WebApplication1/nbdist/
/proyecto1/WebApplication1/nbactions.xml
/proyecto1/WebApplication1/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

