**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

CursosLibres/nbproject/ant-deploy.xml
CursosLibres/nbproject/ant-deploy.xml
CursosLibres/src/java/db.properties
