html{
    margin: 0;
    height: 100%;
    width: 100%;
}

body{

    margin:0 auto;
    font-family: sans-serif;
    /*background-color: #150b21;*/

    background: linear-gradient(-135deg, #1a234e, #51002c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

h1{
    color: #fff;
    font-size: 40px;
    font-weight : 100;
}
.main-container{
    padding-top: 75px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}



/********     Header styles         */

.header-container {
    
    width: 100%;
    grid-row: 1/2;
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.header-h1{

    grid-column: span 7;
    justify-self: center;
    align-self: center;
}
.dropbtn {background-image: linear-gradient(-100deg, #480048, #c14949a2)}

.dropbtn {
    background-color:#51002c;
    border-radius: 8px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-size: 200% auto;
    cursor: pointer;
    width: 150px;
}

.dropdown {
    grid-column: span 5;
    position: relative;
    display: inline-block;
    align-self: center;
    justify-self: center;
}

.dropdown-content {
    display: none;
    border-radius: 8px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {

    background-color: #f1f1f1;
    border-radius: 8px;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
}


/********     Table styles         */

.table-container{
    border-radius: 15px;
    grid-column: 3/11;
    justify-self: center;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

table {
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    border-collapse: collapse;
    width: 100%;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;

}

tr th{
    text-align: center;
    font-size: 26px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;

}

.main-row{

}

tr:hover:not(.titulo-tabla) {
    background-color:#776C7A;

}

.table-btn{
    background-image: linear-gradient(-100deg, #480048, #c14949a2);
    background-color:#51002c;
    border-radius: 8px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.table-btn:hover{
    background-color: #950052;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
}



.table-btn:active {
    background-image: linear-gradient(-100deg, #480048, #c14949a2);
    background-color: #51002c;
}


/*******  Informacion curso*/

.curso-container{
    grid-column: 4/9;
    justify-self: center;
    width: 100%;
    border-radius: 8px;
}

.tabla-info-cursos{
    padding: 50px;
    justify-self: center;
}

td{
    padding: 25px;
}

.curso-izquierda{
    text-align: end;
}

.curso-derecha{
    text-align: start;
}

.curso-centro{
    text-align: center;
}

.volver-btn{
    padding-top: 30px;
    grid-row: 3;
    grid-column: 9;
    justify-self: end;
}



/*******  Editar informacion curso*/

.enviar-btn{
    padding-top: 30px;
    grid-row: 3;
    grid-column: 8;
    justify-self: end;
}

input[type="text"]{
    height: 40px;
    width: 400px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}


input[type="number"]:not(.form-control){
    height: 40px;
    width: 400px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}



input[type="file"]{
    height: 40px;
    width: 400px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}


input[type="text"]:focus{
    outline: none;
}

input[type="number"]:focus{
    outline: none;
}

.tabla-info-cursos td{
    border: none;
}

/*******     Formularios edicion/agregar    */
.formulario-container{
    grid-column: 4/9;
    justify-self: center;
    width: 100%;

    display: grid;
    grid-template: repeat(12, 1fr);
    grid-auto-rows: minmax(auto, auto); 
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.formulario-form{
    grid-column: 1/13;
    grid-row: 1/2;
    
}

.formulario-buttons{
    grid-column: 1/13;
    grid-row: 3/4;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.formulario-btn1{

    margin-top: 10px;
    align-self: center;
    grid-column: 10/11;
}

.formulario-btn2{

    margin-top: 10px;
    align-self: center;
    grid-column: 12/13;
    justify-self: end;

}

.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



/********    Botones parte inferior     */

.btn-formularios{
    padding: 30px;
    grid-row: 4;
    grid-column: 8;
    justify-self: end;
    
    grid-column: 5/6;
    border: 3px solid #fff;
}

.lista-cursos-btns-container{
    border: 3px solid #fff;

    grid-row: 3/4;
    grid-column: span 12;
    

    display:grid;
    grid-template-column: repeat(12, 1fr);
    grid-template-row: repeat(12, 1fr);

}

.lista-cursos-btn{
    
    
    
    background-image: linear-gradient(-100deg, #480048, #c14949a2);
    background-color:#51002c;
    border-radius: 8px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/**** search bar */

.main-container .wrap{
    width: 100%;
    grid-row: 1/2;
    grid-column: span 12;
}

.busqueda-wrapper{
    padding-top: 70px; 
    width: 100%;
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box{
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    background: transparent;
    position: relative;
    padding: 15px;
    border-radius: 50px;
    display: flex;
}

.search_box .search_btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(-100deg, #c14949a2, #480048);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.search_box .input_search{
    outline: none;
    border: 0;
    background: linear-gradient(-100deg, #480048, #c14949a2);
    border-radius: 50px;
    padding: 15px 20px;
    width: 500px; 
    height: 20px;
    color: #fff;
}

::placeholder {
    color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}
